h1{
    border: 4px solid burlywood;
    border-radius: 30px;
    color: whitesmoke;
    text-align: center;
    background-color: black;
    padding: 10px;
}

h2{
    border: 2px solid red;
    border-radius: 20px;
    color: yellow;
    text-align: center;
    background-color: navy;
    padding: 5px;
}



.bc{
    border: 5px dashed black;
    padding: 30px;
    background-color: orange;
    background-clip: border-box;
    color: black;
    margin: 30px;
    background-clip: border-box;
}
.bc1{
    border: 5px dashed black;
    padding: 30px;
    background-color: orange;
    -webkit-background-clip: content-box;
    color: black;
    margin: 30px;
    background-clip: content-box;
}
.bc2{
    border: 5px dashed black;
    padding: 30px;
    background-color: orange;
    -webkit-background-clip: padding-box;
    color: black;
    margin: 30px;
    background-clip: padding-box;
}

.mc{
    column-count: 4;
    column-width: 180px;
    column-gap: 40px;
    column-rule-width: 10px;
    column-rule-color: red;
    column-rule-style: groove;
    column-rule: 30px red double;
}

.container p{
    display: inline-block;
    flex-direction: space-evenly;
    padding: 20px;
    margin: 10px;
}
.container{
    border: 3px solid blue;
    border-radius: 20px;
    text-align: center;
    color: white;
    font-size: 20px;
}
   

.rc1{
    border: 5px solid gold;
    border-radius: 0px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc2{
    border: 5px solid gold;
    border-radius: 30px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc3{
    border: 5px solid goldenrod;
    border-radius: 30px 100px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc4{
    border: 5px solid goldenrod;
    border-radius: 100px 30px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc5{
    border: 5px solid goldenrod;
    border-radius: 30px 100px 80px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc6{
    border: 5px solid goldenrod;
    border-radius: 100px 30px 80px 80px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc7{
    border: 5px solid goldenrod;
    border-radius: 30px 80px 110px 140px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc8{
    border: 5px solid goldenrod;
    border-radius: 80px 30px 140px 80px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc9{
    border: 5px solid goldenrod;
    border-radius: 50px / 30px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rc10{
    border: 5px solid goldenrod;
    border-radius: 30px / 50px;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rc11{
    border: 5px solid goldenrod;
    border-radius:50%;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rc12{
    border: 5px solid goldenrod;
    border-radius: 60% / 30%;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rc13{
    border: 5px solid goldenrod;
    border-radius: 30% / 60%;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rc14{
    border: 5px solid goldenrod;
    border-radius: 30% / 60% 30%;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rc15{
    border: 5px solid goldenrod;
    border-radius: 30% / 30% 60% 30%;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rc16{
    border: 5px solid goldenrod;
    border-radius: 60% / 60% 30% 60%;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rc17{
    border: 5px solid goldenrod;
    border-radius: 60% / 30% 60% 30%;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rc18{
    border: 5px solid goldenrod;
    border-radius: 50% / 30% 60% 30% 60%;
    width: 200px;
    height: 200px;
    text-align: center;
    background-color: purple;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 600px) {
    .mc{
        column-width: 100px;
        column-gap: 10px;
        column-rule-width: 5px;
        column-rule-color: rgb(235, 150, 12);
        column-rule-style: groove;
        column-rule: 10px salmon double;
    }
    
}