body {
    background-color: lightblue;
    color: black;
    font-family: monospace;
    font-size: 20px;
}

h1 {
    border: 5px solid greenyellow;
    border-radius: 30px;
    text-align: center;
    background-color: rosybrown;
    color: white;
}

p {
    border: 3px double black;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

h3 {
    border: 3px dashed yellow;
    padding: 10px;
    border-radius: 30px;
    background-color: orange;
}

h4 {
    border: 3px dashed orangered;
    padding: 10px;
    border-radius: 30px;
    color: white;
    background-color: black;
}