@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #E3F2Fd;
}

.popup {
  position: absolute;
  left: 50%;
  top: -25%;
  visibility: hidden;
  width: 490px;
  border-radius: 5px;
  padding: 13px 17px 20px;
  display: flex;
  border-top: 3px solid #EA4D67;
  background: #fff;
  transform: translate(-50%, -50%);
  transition: all 0.25s ease;
  box-shadow: 0 10px 25px rgba(52, 87, 220, 0.1);
}

.popup.show {
  top: 50%;
  visibility: visible;
}

.popup.online {
  border-color: #2ECC71;
}

.popup .icon i {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  color: #fff;
  margin-right: 15px;
  font-size: 1.2rem;
  justify-content: center;
  border-radius: 50%;
  background-color: #EA4D67;
}

.popup.online .icon i {
  background: #2ECC71;
}

.popup .title {
  font-size: 1.2rem;
}

.popup .desc {
  color: #474747;
  margin: 3px 0 10px;
  font-size: 1.04rem;
}

.popup .reconnect {
  border: none;
  outline: none;
  color: #fff;
  font-size: 0.95rem;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  padding: 9px 15px;
  background: #5372F0;
}

.popup.online .reconnect {
  background: #bfbfbf;
  pointer-events: none;
}

@media screen and (max-width: 550px) {
  .popup {
    width: 100%;
    padding: 10px 15px 17px;
  }
}
