body {
    background-color: lightblue;
    color: black;
    font-family: monospace;
    font-size: 20px;
}

h1 {
    border: 5px solid orchid;
    border-radius: 50px;
    text-align: center;
    background-color: steelblue;
    color: white;
}


h3 {
    border: 3px double;
    border-radius: 10px;
    text-align: center;
    background-color: teal;
    color: white;
}
.container1 h4:hover,
.container2 h4:hover,
.container3 h4:hover{
    background-color: blue;
    color: white;
}

.text{
    border: 5px double black;
    background-color: white;
    border-radius: 30px;
    text-align: center;
}

.img{
    border-radius: 20px;
}
.text:hover{
    background-color: red;
    color: white;
}

.container1,
.container2,
.container3{
    border: 5px double black;
    border-radius: 30px;
}

.container1 h4,
.container2 h4,
.container3 h4{
    border: 3px solid black;
    color: black;
    border-radius: 30px;
    text-align: center;
}

.container1:hover,
.container2:hover,
.container3:hover{
    border: 5px solid blue;
    background-color: white;
}



