body {
    background-color: lightblue;
    color: black;
    font-family: monospace;
    font-size: 20px;
}

h1 {
    border: 5px solid blue;
    border-radius: 50px;
    text-align: center;
    background-color: red;
    color: white;
}


h3 {
    border: 3px double;
    border-radius: 10px;
    text-align: center;
    background-color: teal;
    color: white;
}

.text{
    border: 5px double black;
    background-color: white;
    border-radius: 30px;
    padding: 25px;
}


.text:hover{
    background-color: blue;
    color: white;
}

.container1{
    border: 5px double black;
    border-radius: 30px;
    background-color: white;
    margin: 10px 0;
    color: black;
    text-align: center;
    margin: 15px;
}

.container1:hover{
    color: white;
    background-color: red;
}



