body {
    background-color: lightblue;
    color: black;
    font-family: monospace;
    font-size: 20px;
}

h1 {
    border: 5px solid red;
    border-radius: 30px;
    text-align: center;
    background-color: burlywood;
}

.div {
    border: 3px solid gold;
    border-radius: 20px;
    text-align: center;
    background-color: royalblue;
    color: white;
}

#para1 {
    border: 3px double black;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

#para2 {
    border: 3px double black;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

#para3 {
    border: 3px double black;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

#para4 {
    border: 3px double black;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

#para5 {
    border: 3px double black;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

#para6 {
    border: 3px double black;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}

#para7 {
    border: 3px double black;
    border-radius: 30px;
    text-align: center;
    background-color: white;
}