body {
    background-color: lightblue;
    color: black;
    font-family: cursive;
}

h1 {
    border: 5px solid tomato;
    border-radius: 20px;
    background-color: black;
    color: white;
    text-align: center;
}

h2 {
    border: 3px dashed turquoise;
    border-radius: 40px;
    background-color: tan;
    text-align: center;
}

.container {
    border: 6px solid goldenrod;
    width: 800px;
    background-color: firebrick;
}

.container1 {
    filter: blur(2px);
}

.container2 {
    filter: brightness(2);
}

.container3 {
    filter: contrast(3);
}

.container4 {
    filter: saturate(10);
}

.container5 {
    filter: sepia(20);
}

.container6 {
    filter: hue-rotate(90deg);
}

.container7 {
    filter: invert(10);
}


@media screen and (min-width: 1400px) {
    .coffee1 {
        border: 2px solid black;
        width: 700px;
        height: 1000px;
    }
}

@media screen and (min-width: 1200px) {
    .coffee2 {
        border: 2px solid black;
        width: 600px;
        height: 800px;
    }
}

@media screen and (min-width: 1000px) {
    .coffee3 {
        border: 2px solid black;
        width: 500px;
        height: 700px;
    }
}


@media screen and (min-width: 800px) {
    .coffee4 {
        border: 2px solid black;
        width: 400px;
        height: 600px;
    }
}